.btn_talk{
    display: grid;
    color: var(--color-2);
    background: var(--color-1);
    width: 100%;
    grid-template-columns: auto auto;
    gap: 10px;
    align-items: center;
    justify-content: center;
}