@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=IBM+Plex+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

:root{
    /*Cores*/
    --color-1: #141313;
    --color-2: #ffffff;
    --color-3: #c1c1c1;
    --color-4: #6a11cb;
    --color-5: #2575fc;
    /*Gradiente*/
    --gradient-right: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
    --gradient-left: linear-gradient(to left, #6a11cb 0%, #2575fc 100%);
    --gradient-top: linear-gradient(to top, #6a11cb 0%, #2575fc 100%);
    --gradient-bottom: linear-gradient(to bottom, #6a11cb 0%, #2575fc 100%);
    /*Fontes*/
    --font-size-logo: 40px;
    --font-size-h1: 50px;
    --font-size-h2: 28px;
    --font-size-h3: 40px;
    --font-size-p: 18px;
    --font-Logo: "IBM Plex Serif";
    --font-Base: "IBM Plex Sans";
}