.view__content{
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    color: var(--color-2);
    background-color: var(--color-1);
    padding: 7em;
    padding-bottom: 11.9em;

}
.view__content__title{
    font-family: var(--font-h1);
    font-weight:lighter;
    font-size: 86px;
    text-transform: uppercase;
    padding-bottom: 0.1em;
    line-height: .8em;
}
.view__content__subtitle{
    font-family: var(--font-h2);
    letter-spacing: .4rem;
    font-weight: 200;
    font-size: 32px;
    text-transform: uppercase;
}
.about{
    padding: 2.5em;
    font-family: var(--font-p);
    line-height: 1.3em;
    font-weight: 400;
    font-size: 16px;
}
.about-title{
    padding: 1em 0;
    font-family: var(--font-h2);
    font-weight: 700;
    font-size: 24px;
}
.skill-list{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}


.skill-list-item{
    display: flex;
    break-inside: avoid;
    padding: 10px;
    flex-direction: row;
    width: 50%;
}
.skill-list-item-image{
    width: 20px;
}
.skill-list-item-text{
    padding: 0 .5em;
    font-family: var(--font-p);
    line-height: 1.3em;
    font-weight: 400;
    font-size: 16px;
}

.projects{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.project-list-item-link-img{
    width: 80%;
    filter:brightness(90%)
}
.project-list-item{
    width: 370px;
    position: relative;
    color: white;
    text-align: center;
}
.project-list-item-title{
    position: absolute;
    top: .9em;
    left: 1.5em;
    padding: .5em .5em;
    background-color: rgba(0,0,0,1);
    font-family: var(--font-p);
    font-size: 27px;
    font-weight: 500;
    letter-spacing: .2rem;
    color: white;
}
.project-list-item-title:visited{
    color: white;
}
.project-list-item-text{
    position: absolute;
    top: 11%;
    left: 4%;
    text-align: left;
    background-color: rgba(0,0,0,0);
    padding: 2em;
    font-family: var(--font-p);
    font-size: 20px;
    font-weight: 300;
    letter-spacing: .2rem;
    line-height: 1.15em;
    text-decoration: none;
    color: white;
}

.project-list-item-text:visited{
    color: white;
}
.project-list-item{
    padding-top: 1em;
}


.container-buttons{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 3em 0;
}

.buttons{
    font-family: var(--font-p);
    font-size: 16px;
    font-weight: 500;
    padding: 1.5em 5em;
    text-decoration: none;
    background-color: #D9D9D9;
    margin: .5em;
    color: black;
}
.buttons-submit{
    font-family: var(--font-p);
    font-size: 16px;
    font-weight: 500;
    padding: 1.5em 5em;
    background-color: #D9D9D9;
    margin: .5em;
    color: black;
    border: 0;
}
.buttons:visited{
    color: black;
}
.button-image{
    padding-right: 1em;
}

form{
    width: 100%;
    max-width: 350px;
}

div.input-single{
    width: 100%;
    margin: 30px;
    position: relative;
}

div.input-single label{
    font-size: 16px;
    font-family: var(--font-p);
    position: absolute;
    left: 0;
    bottom: 5px;
    color: rgb(50, 50, 50);
    cursor: text;
    transition: 0.5s ease-in-out;
}

div.input-single .input{
    width: 80%;
    padding: 5px;
    color: rgb(50, 50, 50);
    border: 0;
    border-bottom: 1px solid rgb(20, 20, 20);
    outline: 0;
    font-size: 16px;
}

div.input-single .input:focus,
div.input-single .input:valid{
    border-bottom: 2px solid cornflowerblue;
}

div.input-single .input:focus ~ label,
div.input-single .input:valid ~ label{
    transform: translateY(-24px);
    font-size: 10px;
    color: cornflowerblue;
}