.rodape{
    background-color: black;
}
.footer-list{
    display: flex;
    justify-content: space-evenly;
    padding: 2em;
}

.footer-list-item-link{
    text-decoration: none;
    color: white;
    font-family: var(--font-p);
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 500;
    padding: 0.5em;
}

.footer-info{
    display: flex;
    justify-content: center;
}
.info-text{
    color: white;
    font-family: var(--font-p);
    font-size: 16px;
    font-weight: 200;
    padding-top: 1em;
}
.info-img{
    padding: 1.5em 1em;
    width: 20%;
}
